body {
	font-family: arial;
}

h1,h2 {
	color: purple;
}

ul li a {
	color: red;
}

ol li a {
	color: green;
}

#p1 {
	color: blue;
}

.p2 {
	color: green;
}

.cetak-tebal {
	font-weight: bold;
}

p.cetak-tebal {
	font-size: 30px;
}